# Ignore all lecture uploads from class
Lectures/

# Ignore any templating files
template*/

# Ignore /target files
target/

# Ignore LaTeX compilation files to reduce clutter in repository
/Notes/notes.aux
/Notes/notes.fdb_latexmk
/Notes/notes.fls
/Notes/notes.log
/Notes/notes.out
/Notes/notes.synctex.gz
/Notes/notes.toc